.button {
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1e58ff;
    color: #1e92ff;
    cursor: pointer;
    
  }

  .buttonSecendary {
    @extend .button;
    background-color: royalblue;
    color: white;
    box-shadow: 0 10px 40px -6px rgb(0, 51, 94);
    cursor: pointer;
  }