.wrapper {
    position: fixed;
    width: 800px;
    height: 700px;
    background-color: rgb(44, 44, 44);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 40px -6px rgb(77, 77, 77);
}

.closeBtn {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 25px;
    cursor: pointer;
  }